.card-curso {
  width: 200px;
  height: 270px;
  // transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
// background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);

.card-curso__content {
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-curso:hover .card-curso__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}
